# Example environment variables for team_task_manager
# Copy this file to ".env" and fill in your own values.
# Do NOT commit your real .env file to GitHub.

# usually "apikey" for SendGrid
EMAIL_HOST_USER=your_sendgrid_username
# your SendGrid API key
EMAIL_HOST_PASSWORD=your_sendgrid_password
# email address used as sender
DEFAULT_FROM_EMAIL=your_email@example.com

# Database configuration
POSTGRES_DB=        # Name of the PostgreSQL database created for the project
POSTGRES_DB_PORT=   # Port used to connect to PostgreSQL (default is 5432)
POSTGRES_USER=      # PostgreSQL username (e.g., postgres or a custom user)
POSTGRES_PASSWORD=  # Password for the PostgreSQL user
POSTGRES_HOST=      # Host address of the database (localhost, 127.0.0.1, or cloud DB URL)

# Django configuration
SECRET_KEY=             # Django secret key (must be hidden in production)
DJANGO_SETTINGS_MODULE= # Which settings file to use (e.g., team_task_manager.settings.dev or team_task_manager.settings.prod)
