{% extends "layouts/base.html" %}
{% load static i18n %}


{% block content %}
<div class="container-fluid py-4">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow border-radius-lg">
        <div class="card-header bg-gradient-success text-white text-center py-3">
          <h5 class="mb-0">{% trans "Your password was successfully changed." %}</h5>
        </div>
        <div class="card-body text-center">
          <p class="text-muted mb-4">
            {% trans "You can now continue browsing the site with your updated credentials." %}
          </p>
          <div class="d-flex justify-content-center gap-3">
            <!-- Home button -->
            <a href="{% url 'tasks:index' %}" class="btn btn-primary">
              <i class="fa fa-home me-2"></i> {% trans "Home" %}
            </a>
            <!-- Profile button -->
            <a href="javascript:;" class="btn btn-outline-secondary">
              <div class="d-inline-flex align-items-center">
                <svg width="16px" height="16px" viewBox="0 0 46 42" xmlns="http://www.w3.org/2000/svg">
                  <g fill="#6c757d" fill-rule="nonzero">
                    <path d="M22.883,32.86 C20.761,32.012 17.324,31 13,31 C8.676,31 5.239,32.012 3.116,32.86 C1.224,33.619 0,35.438 0,37.494 L0,41 C0,41.553 0.447,42 1,42 L25,42 C25.553,42 26,41.553 26,41 L26,37.494 C26,35.438 24.776,33.619 22.883,32.86 Z"></path>
                    <path d="M13,28 C17.432,28 21,22.529 21,18 C21,13.589 17.411,10 13,10 C8.589,10 5,13.589 5,18 C5,22.529 8.568,28 13,28 Z"></path>
                  </g>
                </svg>
                <span class="ms-2">{% trans "Profile" %}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
